body{
    background-color: black;
    color:white;
}

.aula1{
    color: black;
    background-color: white;
    margin-top: 3%;
    margin-left: 45%;
    font-size: 25px;
}
.voltar {
  background-color: rgb(73, 0, 0);
  color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 310px;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.7;
  font-size: 70px;
  margin-top: 7%;
}
.voltar :hover{
   color: rgb(241, 77, 77) ;
   opacity: 10;
   
}
