@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
body{
    background-image: url("https://images.wallpapersden.com/image/download/topography-abstract-black-texture_a2lmZmiUmZqaraWkpJRnbW1lrWZtZWU.jpg"); 
    background-size: 100%, 100%;
    font-family: 'Raleway', sans-serif;
}
.lab{
    color: black;
    background-color: white;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 25px;
}
.botao4 {
  background-color: rgb(53, 53, 53);
  color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 310px;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.7;
  font-size: 70px;
  margin-top: 7%;
}
.botao4 :hover{
   color: rgb(255, 255, 255) ;
   opacity: 10;
   
}
.voltar {
  background-color: rgb(73, 0, 0);
  color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 310px;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.7;
  font-size: 70px;
  margin-top: 7%;
}
.voltar :hover{
   color: rgb(241, 77, 77) ;
   opacity: 10;
   
}
